.movies {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 10px;
grid-row-gap: 0px;
}

.moviesDetail{
    padding: 10px;
}

.moviesDetail img {
    border-radius: 8px;
}
