.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  color: white;
  margin-top: 30px;
  margin-left: 100px;
}

.moviesDetail {
  padding: 10px;
}

.moviesDetail img {
  border-radius: 8px;
  width: 260px;
  height: 320px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.moviesDetail img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  transform: scale(1.1);

}

.moviesDetail h4{
    margin-top: 25px;
}